:root {
  --bg: #F5E9E2;
  --primary: #8C593B;
  --accent: #D9A17E;
  --text: #3D3D3D;
  --bg-200: #EBDFD8;
  --bg-300: #C2B7B0;
  --primary-200: #BE8666;
  --primary-300: #FFE8C5;
  --accent-200: #744728;
  --text-200: #676767;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
